$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.Community {
  color: #897183;
}
.Education {
 color: #6dbdc2;
}
.Diversity {
  color:#dea950;
}
.Environment {
  color: #64ba8e;
}
.resultsCounter {
  margin-left:10%;
  padding-bottom:5px;
  border-bottom:1px solid #eaeaea;
  font-size:12px;
}
body {
  padding: 0;
  height:100%;
  -webkit-font-smoothing: antialiased!important
}
.col-md-3 {
  border-right:1px solid #f3f3f3;
}
.navbar {
  margin-bottom:0px !important;
}
.sideNav li {
	text-decoration:none;
	list-style-type:none;
	font-family: 'News Cycle', sans-serif;
	
}
.subMenu ul li {
	text-decoration:none;
	list-style-type:none;
	display: inline;
	padding: 2px 5px;
	padding-left: 32px!important;
    font-size: 14px;
    color: #4e4e4e;
}
.subMenu a span {
    border: 2px solid transparent;
    position: relative;
    display: inline;
    vertical-align: middle;
    line-height: 22px;
    height: 30px;
    padding: 2px 5px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #bfbfbf;
   -webkit-box-shadow: inset 0 0 10px #bfbfbf;
   box-shadow:         inset 0 0 10px #bfbfbf;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.sideNav {
	overflow-y:auto;
	height:910px;
}

/* Custom page header */
.header {

  margin-bottom: 0px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #777;
  clear: both;
      height: 60px;
      margin-top: -100px;
      padding-top: 0;
      position: relative;
      width: 100%;
	  margin-top:5%;
}

.container-narrow > hr {
  margin: 30px 0;
}
.mapGrid {
	background-color:red;
}
.searchBar {
  width:70%;
  margin-left:10%;
  margin-top:5%;
  padding-bottom:4%;
}
.subMenu {
  background-color: #f3f3f3;
  height: 50px;
  color: #444; 
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0x;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
