<div class="row">
	<div class="col-md-3">
		
	<div class="searchBar">
		  <input type="text" class="form-control" placeholder="Search the area..." ng-model="searchProgram">
	</div>

		
		<div class="resultsCounter">
			Showing {{mapData.length}} Organizations
		</div>
	
		<ul class="sideNav">
		<li ng-repeat="m in mapData | orderBy:'Program' | filter:searchProgram"><div ng-class="m.theme"><b>{{m.organization | uppercase}}</b></div>{{m.program}}<br><small>{{m.city}}, {{m.state}}</small><br><div class="category" ng-class="m.theme">{{m.theme | uppercase}}</div><hr></li>
		</ul>
	</div>
	<div class="col-md-9 subMenu shadow" ng-controller="CategoryCtrl">
		<ul>
			<li ng-repeat="c in categories"><a ng=href="#"><span>{{c.name | uppercase}}</span></a></li>
		</ul>
	</div>
	<div class="col-md-9 mapGrid">
		more .....
	</div>
</div>
